.comments,
.information,
.old-publications figure,
.reactions
  display: inline-block

.comments
  color: #909090
  font-size: 12px

.information,
.old-publications figure
  vertical-align: top

.information
  margin-left: 20px

.information article
  margin: 10px 0
  font-size: 14px

.information h3
  color: #2dcc70
  text-transform: capitalize

.information h5
  color: #adadad
  font-size: 12px
  font-weight: normal

.new-publication
  box-sizing: border-box
  height: 92px
  width: 100%

.old-publications
  padding-bottom: 0

.old-publications figure
  width: 40px

.old-publications figure img
  border-radius: 50%
  height: inherit
  width: inherit

.publications
  width: 80%

.status
  border-top: 1px solid #eaeaea
  margin-top: 22px
  padding: 8px 0

.status div
  vertical-align: middle

.reactions
  font-size: 0

.reactions span
  border: 2px solid #fff
  border-radius: 50%
  display: inline-block
  height: 18px
  margin-left: -11px
  width: 18px

.reactions span:first-child
  margin-left: 9px

.reactions .red
  background-color: #f45b5f

.reactions .blue
  background-color: #438bfc

.reactions .yellow
  background-color: #efc21f