<div class="card form-start align-absolute ca-vertical ca-horizontal">
  <form ng-submit="$ctrl.login()">
    <fieldset class="no-margin">
      <div class="field text-field">
        <label for="name">Como es tu nombre</label>
        <input type="text" name="name" id="name" value="" ng-model="$ctrl.name">
      </div>
    </fieldset>
    <div class="row buttons align-right">
      <div class="width-12">
        <button class="button" type="submit">Ingresar</button>
      </div>
    </div>
  </form>
</div>
