<header class="main-header">
  <h2 class="no-margin width-12 align-center">Domicilios Test</h2>
  <h3 class="no-margin align-absolute ra-horizontal">Hola! {{$ctrl.name.split(' ')[0]}}</h3>
</header>

<section class="publications align-absolute ca-horizontal">
  <section class="card new-publication">
    <form ng-submit="$ctrl.publicate()">
      <fieldset>
        <div class="field">
          <input type="text" name="" value="" placeholder="Escribe tu estado" ng-model="$ctrl.publication">
        </div>
      </fieldset>
      <div class="row buttons align-right">
        <div class="width-12">
          <button class="button" type="submit">Publicar</button>
        </div>
      </div>
    </form>
  </section>

  <section id="old-publications" ng-repeat="pub in $ctrl.publications" class="card old-publications">
    <figure class="no-margin">
      <img src="../images/user.png" alt="">
    </figure>
    <section class="information">
      <h3 class="no-margin">{{pub.user}}</h3>
      <h5 class="no-margin">Hace {{$ctrl.doesHowMuch(pub.createDate)}} minutos</h5>
      <article>
        {{pub.publication}}
      </article>
    </section>
    <section class="row actions">
      <button class="button no-padding" react>Reaccionar</button>
      <button class="button no-padding">Comentar</button>
    </section>
    <section class="row status">
      <div class="width-6 reactions">
        <span reactions ng-click="$ctrl.react(pub.id, 'blue')" ng-class="pub.myReact === 'blue' ? 'selected': '' " class="blue"></span>
        <span reactions ng-click="$ctrl.react(pub.id, 'red')" ng-class="pub.myReact === 'red' ? 'selected': '' " class="red"></span>
        <span reactions ng-click="$ctrl.react(pub.id, 'yellow')" ng-class="pub.myReact === 'yellow' ? 'selected': '' " class="yellow"></span>
        <label>{{pub.reactions.length === undefined ? 0 : pub.reactions.length}}</label>
      </div>
      <div class="width-6 align-right comments">3 Comentarios</div>
    </section>
  </section>
</section>
